 .header {
    background-color: lightgrey;
    text-align: center;
    height: 100px;
    border-style: solid;   
    overflow: hidden;
}

.header input[type=text] {
    position: absolute;
    right: 50px;
    top: 40px;
    font-size: 17px;
}

.sidenav {
    height: 100%; 
    width: 200px; 
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    border-right-style: dotted;
  }
 
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    text-align: center;
    color: #818181;
    display: block;
  }

  .main .quest #questTitle{ 
    position: absolute;  
    left: 40px;
 }

 .main .quest #titleError{
    position: absolute; 
    left: 40px;
 }

 .main .quest #questionTitle{
    position: absolute; 
    left: 40px;
 }

   .main .quest #text{
    position: absolute; 
    left: 40px;
 }

 .main .quest #textError{
    position: absolute; 
    left: 40px;
 }

 .main .quest #questionText{
    position: absolute; 
    left: 40px;
    
 }

   .main .quest #tag{
    position: absolute; 
    left: 40px;
 }

 .main .quest #tagError{
    position: absolute; 
    left: 40px;
 }

 .main .quest #tagText{
    position: absolute; 
    left: 40px;
 }

 .main .quest #user{
    position: absolute; 
    left: 40px;
 }

 .main .quest #userName{
    position: absolute; 
    left: 40px;
 }

 .main .quest #post{
    position: absolute; 
    left: 40px;
 }
